{% extends 'base.html' %}

{% block content %}
  <form id="login-form" method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Log In">
  </form>
{% endblock %}

{% block footer %}{% endblock %}
