<div id="add-bee-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      Add a Wurker Bee
    </div>
    <div style="width:500; height:auto;">
      <form id="add-bee-form" class="modal-form" data-droneid="">

        <div class="form-row">
          <label for="command">Command<span style="color:red;">*</span> </label>
          <select class="required" title="Select a Command or Module for this Bee" id="add-bee-command">
            <option value="" disabled selected hidden>Required Command&#8230;</option>
            {% for cmd in commandData %}
              <option value="{{ cmd['id'] }}"
                      data-ismodule={% if cmd['is_module'] %}"true"{% else %}"false"{% endif %}>
                      {{ cmd['name'] }}
              </option>
            {% endfor %}
          </select>
        </div>

        <div class="form-row">
          <label for="name">Bee Name<span style="color:red;">*</span> </label>
          <input type="text" name="name" id="add-bee-name" class="required" title="Name this Bee"
                 placeholder="Required Bee Name&#8230;" value="">
        </div>

        <div class="form-row">
          <label for="cron">Cron </label>
          <select class="cron-selector" title="Select a Cron for this Bee" id="add-bee-cron" disabled>
            <option value="" disabled selected hidden>Optional Cron&#8230;</option>
            {% for item in cronData %}
              <option value="{{ item['slug'] }}">
                {{ item['name'] }}
              </option>
            {% endfor %}
            <option disabled>----</option>
            <option value="orphaned">Orphaned</option>
          </select>
        </div>

        <div class="form-row">
          <label for="description">Description </label>
          <input type="text" name="description" id="add-bee-description" title="Describe this Bee"
                 placeholder="Describe the Bee&#8230;" value="" disabled>
        </div>

        <div class="form-row">
          <label for="args">Arguments </label>
          <input type="text" name="args" id="add-bee-args" title="Set the arguments for this Bee's Command"
                 placeholder="JSON Object {} (Pybee), or Array [] (Bee)&#8230;" value="" disabled>
        </div>

        <div class="form-row">
          <label for="enabled">Enabled </label>
          <input type="checkbox" name="enabled" id="add-bee-enabled" title="Enable this Bee?" disabled>
        </div>

      </form>
    </div>

    <div class="modal-footer">
      <div class="float-right">
        <button class="cancel">Cancel</button>
        <button class="submit">Add Bee</button>
      </div>
    </div>

  </div>
</div>
